
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="~/Scripts/Feedback/index.js"></script>

</head>
<body>
    <div class="jumbotron">
        <h1>Hello, Feedback!</h1>
        <p>We are handsome guys!! </p>
        <textarea id="targetFeedback" class="form-control" rows="3"></textarea>
        <p><a id="FeedbackGo" class="btn btn-primary btn-lg" href="#" role="button">I got you!!!</a></p>
        <p><a id="MongoTest" class="btn btn-primary btn-lg" href="#" role="button">MongoTest</a></p>

        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Title</th>
                    <th>Contents</th>
                </tr>
            </thead>
            <tbody>                
            </tbody">
        </table>
    </div>
</body>
</html>
