
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="~/Scripts/FeedbackSearch/index.js"></script>

</head>
<body>
    <div class="jumbotron">
		<h2>Why Feedback?</h2>
		<img width="1250px" src="~/Images/WhyFeedback.png" />
		<br />
		<br />
		<h2>Output#1 품질지수</h2>
<h3>체언(N), 용언(P), 관형사(M), 노출비율, 토큰갯수, 이미지갯수 수백번의 실험과 데이타 관찰</h3>

		<img width="1250px" src="~/Images/quality.png?dummy=111" />
		<img width="1250px" src="~/Images/quality2.png" />
<h3>품질통제, KPI, 품질에따른 정렬순서등 없어서 못하던걸 가능케 하는 새로운 기준!</h3>
<h3>VIP 상품평 노출 기준을 우연이 아닌 통제된 사용자 경험으로 제공 가능! </h3>
		<br />
		<br />
		<br />
		<h2>Output#2 감성지수</h2>
<h3>불만족 상품평과 우수상품평의 각각 반복 노출 비율 기반 감성사전, 수백번의 실험과 데이타 관찰</h3>
		<img height="800px" src="~/Images/논문.png" />
		<img width="1250px"  src="~/Images/emotion.png" />
<br />
		<h3>상품평 분석 예시 #1</h3>
		<img width="1250px"src="~/Images/feelbackfeedback.png" />
<br />
		<h3>상품평 분석 예시 #2</h3>
		<img width="1250px"src="~/Images/feelbackfeedback2.png" />
<br />
		<h3>상품평 분석 예시 #3</h3>
		<img width="1250px"src="~/Images/feelbackfeedback3.png" />
<br />
		<h3>상품평 분석 예시 #4</h3>
		<img width="1250px"src="~/Images/feelbackfeedback4.png" />
<br />
		<h3>상품평 분석 예시 #5</h3>
		<img width="1250px"src="~/Images/feelbackfeedback5.png" />
<h3>감성기준의 새로운 사용자 경험 제공 가능</h3>
<h3>구매에 확신을 주고 판매에 노출이 되는 노출순서로 제어 가능</h3>
<br />
		<br />
		<br />
<h2>Output#3 Junk 상품평 검출 정확도 90%이상</h2>
		<img width="1250px" src="~/Images/fivestar.png" />
<br /><br />
		<img width="1250px" src="~/Images/junk.png" />
<br />
		<br />
		<h2>테크니컬스킬</h2>
		<br /><h3>형태소분석</h3>
		<img width="800px" src="~/Images/형태소분서기.png" />
		<img width="1250px" src="~/Images/feedbackdocument.png" />
		<br /><br /><br /><h3>데이타 관찰 & 가설 수립 및 증명 </h3>
		<h3>용언, 체언, 관형사</h3>
		<img src="~/Images/ds.png" />
		<br />
		<br />
		<h3>머신러닝 </h3>
		<img width="1250px" src="~/Images/mlmodel.png" />
		<br /><br /><h3>Cloud & Webservice </h3>
		<img width="1250px" src="~/Images/azureMlWs.png" />
		<img width="1250px" src="~/Images/mongodb.png" />
		
    </div>
</body>
</html>
