
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="~/Scripts/FeedbackSearch/index.js"></script>

</head>
<body>
    <div class="jumbotron">
		<h2>1. Why?</h2>
		<img src="~/Images/intro1.png" />
		<br />
		<br />
		<h2>2. 상품성 및 가치</h2>
		<img src="~/Images/intro2.png" />
		<br />
		<br />
		<h2>3. 혁신성/창의성 - 품질지수</h2>
		<img src="~/Images/quality.png" />
		<br />
		<br />
		<h2>4. 혁신성/창의성 - 감성사전</h2>
		<img src="~/Images/감정사전.png" />
		<img src="~/Images/논문.png" />
		<h2>기사 vs 기사님</h2>
		<h2>현대택배</h2>
		<h2>경비실</h2><br />
		<br />
		<h2>5. 테크니컬스킬</h2>
		<br /><h3>형태소분석</h3>
		<img src="~/Images/형태소분서기.png" />
		<img src="~/Images/feedbackdocument.png" />
		<br /><h3>데이타 관찰 & 가설 수립 및 증명 </h3>
		<h3>용언, 체언, 관형사</h3>
		<img src="~/Images/ds.png" />
		<br /><h3>머신러닝 </h3>
		<img src="~/Images/mlmodel.png" />
		<br /><h3>Cloud & Webservice </h3>
		<img src="~/Images/azureMlWs.png" />
		<img src="~/Images/mongodb.png" />
		
    </div>
</body>
</html>
